body {
    text-align: center;
}

h1 {
    margin-top: 40px;
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 40px;
}

#lista_puntuacion {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nenos {
    position: absolute;
    top: 200px;
    left: 170px;
    width: 400px;
    height: 400px;
}

#victoria {
    position: absolute;
    left: 80px;
    top: 150px;
}

.seleccion {
    margin-left: 20px;
}

.dificultades, .tipo_juego {
    margin-left: 200px;
    margin-right: 200px;
}

.titulo {
    font-size: 40px;
}

.boton_menu {
    margin-top: 200px;
}

.palabra {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}

.error, .exito, .lista_errores {
    font-size: 20px;
    font-weight: bold;
}

.error, .lista_errores {
    color: #890000;
}

.exito {
    color: #0094ed;
}

.lista_errores {
    position: absolute;
    top: 350px;
    right: 130px;
}

.enlace {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}