@font-face {
	font-family: starborn;
	src: url(starborn.ttf);
}
h1, h2, h3 {
	font-family: starborn;
	text-align: center;
}
.navbar {
 margin-bottom: 15px;
}
.footer {
 background-color: #17a2b8;
 margin-top: 15px;
}

.copyright {
 color: #02035b;
 text-shadow: 1px 0px 0px #333;
}

.copyright-link, .copyright-link:hover {
 color: #f8f9fa;
 text-shadow: 2px 1px 5px #000;
}
