@font-face {
    font-family: starborn;
    src: url(starborn.ttf);
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 220px;
}
h1, h2, h3 {
    font-family: starborn;
    text-align: center;
}

#logo-xogoteca {
    height: 80px;
    width: 210px;
}
.navbar {
    margin-bottom: 15px;
}
.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #007BFF;
    margin-top: 15px;
}

.copyright {
    color: #02035b;
    text-shadow: 1px 0px 0px #333;
}

.copyright-link, .copyright-link:hover {
    color: #f8f9fa;
    text-shadow: 2px 1px 5px #000;
}

div.avisoCookies {
    width: 100%;
    color: white;
    text-align: center;
    background-color: green;
    padding: 20px;
}