
#cabecera {
text-align:center;
}

#botones {
display:block;
margin:auto;
}

#jugar{
text-align:center;
}

.pista {
left:500px;
}

p {
display:block;
text-align:center;
}

#jugar img{
display:block;
margin:auto;
height:400px;
width:800px;
}