
#cabecera {
text-align:center;
}

#botones {
display:block;
margin:auto;
}

#jugar{
text-align:center;
}

.pista {
left:500px;
}

p {
display:block;
text-align:center;
}

img {
display:block;
margin:auto;
}

#error {
color:red;
}

#acierto {
color:blue;
}