h1, h2 {
	text-align: center;
}
.botons {
	margin-top: 50px;
}
.botonFinal:link, .botonFinal:visited {
	background-color: #17a2b8;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	display: grid;
	width: 150px;
}
.botonsFinal {
	text-align: center;
}