#padre {
  display: flex;
  justify-content: center;
}
#dificultad {
  padding: 10px;
  margin: 15%;
}

table{

margin-top:5%;

}

h4 {
text-align:center;
}

#foto{
height:250px;
width:250px;
margin:5%;
text-align:center;
}

th{

border:1px solid;

}

