@font-face {
	font-family: starborn;
	src: url(starborn.ttf);
}
h1, h2 {
	text-align: center;
	font-family: starborn;
}
.miniatura, .resumo {
	margin-top: 6%;
}
.menu {
	padding-top: 50px;
}
.botons {
	margin-top: 50px;
}
.miniatura {
	width: 400px;
	height: 200px;
}
.carta{
	width: 130px;
	height: 120px;
}
.cartas6 {
	margin-top: 10%;
}
.cartas12 {
	margin-top: 5%;
}
.botonFinal:link, .botonFinal:visited {
	background-color: #007BFF;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	display: grid;
	width: 150px;
}
.botonsFinal {
	text-align: center;
}
.marcador {
	font-size: 100%;
	font-family: starborn;
}
.mensaxe {
	font-size: 200%;
	margin-left: 9%;
	text-align: center;
	font-family: starborn;
}
.xogar {
	margin-top: 2%;
}
.btn-lg {
	padding:10px 60px;
}
.btn-secondary {
	
	padding: 0px 30px;
}
.gardar {
	margin-left: 3%;
	background-color: #007BFF;
}